################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyNetworkSniffer.Tests/bin
/MyNetworkSniffer.Tests/obj
/MyNetworkSniffer/bin
/MyNetworkSniffer/obj
